.button-as-anchor {
    background: none;
    border: none;
    outline: none;
    padding: 5px;
    color: #2a347a;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
}

.button-as-anchor:hover,
.highlight-button {
    color: gold;
    text-shadow: 2px 0 0 #2a347a, -2px 0 0 #2a347a, 0 2px 0 #2a347a, 0 -2px 0 #2a347a, 1px 1px #2a347a, -1px -1px 0 #2a347a, 1px -1px 0 #2a347a, -1px 1px 0 #2a347a;
}

.button-as-anchor:focus {
    outline: none;
}

#new-entry-button {
    background: url(../media/icons/plus-icon.png);
    background-size: 100%;
    outline: none;
    text-decoration: none;
    border: none;
    width: 50px;
    height: 50px;
}